
.FormSubmit {
    display: flex;
    justify-content: center;
}

.FormSubmit--disable {
    opacity: 0.2;
}

.FormSubmitButton {
    width: 150px;
    height: 25px;
    line-height: 25px;
    background-color: #F85959;
    cursor: pointer;
}