body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App__border {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: goldenrod;
}

.Menu {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.Menu__item {
    padding: 0 10px;
    cursor: pointer;
}

.Menu__item--select {
    font-weight: bold;
    cursor: default;
}

.Autocomplete__header {
    display: flex;
    justify-content: center;
}

.Autocomplete__header_label {
    padding-right: 10px;
}
.Autocomplete__header_item {
    padding: 0 10px;
}

.Autocomplite__highlight {
    background-color: #e0e0e0;
}

.Autocomplite__result_item {
    display: flex;
    justify-content: center;
}

.Chat__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.Chat__list {
    background-color: #eee;
    min-width: 400px;
}

.Chat__message {
    display: flex;
}

.Chat__nick {
    width: 100px;
    text-align: right;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Chat__sending {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    background-color: green;
}

.Chat_InputGroup {
    display: flex;
    width: 400px;
    margin-bottom: 20px;
}

.Chat_InputLabel {
    width: 100px;
    text-align: right;
    line-height: 25px;
    padding-right: 10px;
}

.Chat_InputBox {
    flex-grow: 1;
}

.Chat_InputBox * {
    width: 100%;
}

.Chat__online {
    color: green;
    margin-bottom: 20px;
}
.Chat__offline {
    color: red;
    margin-bottom: 20px
}
.FormInput {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
}

.FormInput__error {
    color: red;
}

.FormSubmit {
    display: flex;
    justify-content: center;
}

.FormSubmit--disable {
    opacity: 0.2;
}

.FormSubmitButton {
    width: 150px;
    height: 25px;
    line-height: 25px;
    background-color: #F85959;
    cursor: pointer;
}.buttonDisable {
    opacity: 0.2;
}